.articles-list{
  &__item{
    margin-bottom: 50px;

    &-category{
      display: block;
      line-height: 16px;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 12px;
      color: $blue-light;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      &:visited{
        color: $blue-light;
      }
    }

    &-title-link{
      text-decoration: none;

      &:hover{
        text-decoration: underline;
        color: $blue-dark;
      }
    }

    &-title{
      margin: 0 0 6px 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      color: $blue-dark;
    }

    &-info{
      font-size: 13px;
      color: $gray-light;
    }

    &-author{
      color: $gray-light;

      &:hover{
        text-decoration: underline;
      }
      &:visited{
        color: inherit;
      }
    }

    &-date{
      position: relative;
      margin-left: 10px;
      padding-left: 12px;

      &:before{
        position: absolute;
        left: 0;
        content: "\2022";
      }
    }
  }
}
