.breadcrumbs{
  position: relative;
  outline: 0;
  font-size: 12px;
  line-height: 14px;
  height: 17px;
  overflow: hidden;
  list-style: none;
  color: #d3d3d3;
}

.breadcrumbs__item{
  display: inline-block;
  margin-left: 5px;

  &:before{
    margin-right: 4px;
    content: '\203A';
    font-size: 18px;
  }
  &:first-child{
    margin-left: 0;
    &:before{
      content: initial;
      margin:0;
    }
  }

  // span{color: #999;}

}

.breadcrumbs__link{
  font-size: 12px;
  text-decoration: none;
  color: $blue-light;

  &:hover{
    text-decoration: underline;
  }

  &:visited {
      color: $blue-light;
  }

  &.is-active{
    color: #999;

    &:hover{
      color: $blue-light;
    }
  }
}
