.categories-widget{
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 24px;
  border: 1px solid $border-color;
  border-radius: 3px;
  background-color: #fff;

  &__title{
    position: absolute;
    top: -24px;
    left: 20px;
    text-transform: uppercase;
    line-height: 14px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: $blue-dark;
  }

  &__item{
    &-link{
      display: block;
      width: 100%;
      padding: 10px 14px;
      border-bottom: 1px solid $border-color;

      &:hover{
        background-color: $light-white;
      }
    }
  }
}
