.hero-wrapper{
  position: relative;
  min-height: 320px;
  width: 100%;
  // margin-bottom: 50px;
  background: #fff url(image_path('tutors-hero_min.jpg')) center center no-repeat;
  background-size: cover;

  &__shadow{
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    background-color: rgba(5, 11, 18, 0.5);
  }

  &__text-block{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
  }

  &__headline{
    margin: 0 0 20px 0;
    display: inline-block;
    padding-left: 80px;
    line-height: 40px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    background: transparent url(image_path('logo-big_white.png')) 0px center no-repeat;
  }

  &__description{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  }
}
