/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */
*,
*:before,
*:after{
  box-sizing: inherit;
}

body {
  position: relative;
  line-height: 22px;
  background-color: $white;
  font-family: $openSans;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
  color: $dark-light;
}

p{
  margin-top: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style:none;
}

img{
  // width: 100%;
  // height: auto;
  vertical-align: middle;
  border: 0;
}

html,
button,
input,
select,
textarea {
    color: $gray;
}

a{
  color: $blue-light;
  text-decoration: none;
}

a, a:active, a:hover, a:visited {
  outline: none;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: $blue-light;
}

a:focus{
  box-shadow: 0px 0px 2px $blue-light;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
