// Twitter
meta name='twitter:card' content=page_twitter_card_type
meta name='twitter:site' content=data.site.twitter_handle
meta name='twitter:title' content=page_title
meta name='twitter:description' content=page_description
meta name='twitter:creator' content=data.site.twitter_handle
meta name='twitter:image:src' content=data.site.image
// Open Graph General (Facebook & Pinterest)
meta property='og:url' content=current_page_url
meta property='og:title' content=page_title
meta property='og:description' content=page_description
meta property='og:site_name' content=data.site.name
meta property='og:image' content=data.site.image
meta property='og:app_id' content='952268334783316'
meta property='og:type' content='website'
// Google Plus
meta itemprop='name' content=page_title
meta itemprop='description' content=page_description
meta itemprop='image' content=data.site.image
