|
  <script type="application/ld+json">
    {  "@context" : "http://schema.org",
       "@type" : "WebSite",
       "name" : "#{data.site.main_web_site_name}",
       "url" : "#{data.site.main_web_site_url}"
    }
  </script>
